body {
    background-color: lightcyan;
}

#title {
    text-align: center;
    color: rgb(62, 4, 104);
}

#subtitle {
    text-align: center;
}
.list {
    color: darkslategray;
}

p { 
    font-size: 24px;
    text-align: center;
}

.hourTitle {
    font-weight: bold;
}